*{
    margin: 0;
    padding: 0;
}

:root{
    --previewColor : rgb(212, 209, 209);
    --shadow : rgb(0, 0, 0);
    --backColor : rgba(255, 255, 255, 0.87);
    --textColor : #242424;
    background-color:#242424;
    color: rgba(255, 255, 255, 0.87);
}

@media (max-width:767px){
    :root{
        --show:block;
        --container-j:start;
        --preview-d:none;
        --container-display: column;
        --w-button:20%;
        --text-button:x-small;
        --text-input:small; 
        --text-label:large;
        --text-h1:x-large;

    }
}

@media (min-width:768px){
    :root{
     --show : none;
     --container-j:center;
     --preview-d:block;
     --preview-h:35rem;
     --preview-w:25rem;
     --w-button:20%;
     --text-button:x-small;
     --text-input:small; 
     --text-label:large;
     --text-h1:x-large;   
    }
 }

 @media (min-width:1024px){
    :root{
     --w-button : 30%;
     --text-button: small;
     --text-input:small; 
     --text-label:medium;
     --text-h1:x-large;   
    }
 }

@media (min-width:1440px){
   :root{
    --w-button : 20%;
    --text-button: small;
    --text-input: medium; 
    --text-label: large;
    --text-h1: xx-large;   
    }
}

button{
    font-size: var(--text-button);
    width: var(--w-button);
    height: 1rem;
}
input{
    font-size:var(--text-input)
}
label{
    font-size: var(--text-label);
}
h1{
 font-size: var(--text-h1);   
}

@media (prefers-color-scheme: light) {
    :root {
      --previewColor : rgb(238, 234, 234);
      --shadow : rgba(36, 34, 34, 0.932);  
      --backColor : #0f5999;
      --textColor : rgba(255, 255, 255, 0.87);
      color: #1c252e;
      background-color: #325ef0cc;
    }
}

.principalContainer{
    display: flex;
    justify-content: var(--container-j);
    flex-direction: var(--container-display);
    gap:10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    width: 75%;
    height: 80vh;
}

.edit{
    border: solid rgba(255, 255, 255, 0.87) 2px;
    margin-bottom: 3vw;
    padding: 2%;
}

.encabezado{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: var(--backColor);
    color: var(--textColor);
    border: none;
    border-radius: 2vw;
    align-self: center;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: transparent;
}

.add-remove{
    display: flex;
    gap: 10%;
    width: 100%;
    margin-top: 1vw;
}
.remove{
    margin-right: 10%;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 5%;
}

.preview{
    display: var(--preview-d);
    background-color: var(--previewColor);
    box-shadow: 10px 10px 25px 10px var(--shadow);
    width: var(--preview-w);
    height: var(--preview-h);
    color: #242424;
}

.principalContainer.print{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show{
    display: var(--show);
}

.personalInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
    color: rgb(49, 48, 48);
    border-bottom: #242424 1px solid;
}

.personalInfo>h3{
    text-wrap: nowrap;
}

.information{
    margin: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    border-bottom: #1c252e solid 1px;
}

.izquierda{
    border-left:#1c252e solid 1px;
    padding-left: 0.5rem;
}
.derecha{
    overflow: auto;
    border-right:#1c252e solid 1px;
    padding-right: 0.5rem;
}